
/* reset & helpers */

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    color: var(--dark);
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--brand);
}

a.custom-link{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

img {
    width: 100%;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

section:before {
    height: 100px;
    content: "";
    display:block;
}

.section-intro{
    margin-bottom: 35px;
    text-align: center;    
}

.section-intro p{
    max-width: 500px;
    margin:auto;
}

.text-justify{
    text-align: justify;
}

/* custom card */
.custom-card{
    transition: all 0.4s ease;
    background-color: white;
    border-radius: var(--border-radius);
}
.custom-card:hover{
    box-shadow: var(--shadow);
    transform: translateY(-5px);
}



/* button class */
.btn{
    padding: 12px 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: var(--border-radius);
    transition: all 0.4s ease;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn-brand{
    background-color: var(--brand);
    color: white;
}
.btn-brand:hover{
    color: white;
}

